SpinTestScripts/Schaefer100/nullDistSchaefer100ratios/
SpinTestScripts/Schaefer200/nullDistSchaefer200ratios/
parametricNullDistributionScripts/Schaefer100/Schaefer100n40/
parametricNullDistributionScripts/Schaefer200/Schaefer200n40/
